---
// src/pages/index.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Profile from '../components/Profile.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  </head>
  <body class="dark-theme">
    <Header />
    <main>
      <Profile />
      <Projects />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
