---
---
<footer class="footer">
  <p>&copy; Made with love by Pranjal Mitra (GhostByte).</p>
  <div class="social-icons">
    <a href="https://github.com/Pranjal1804" target="_blank" rel="noopener noreferrer">
      <img src="/assets/icons8-github-30.png" alt="GitHub Logo" />
    </a>
    <a href="http://www.linkedin.com/in/pranjal-mitra-504b22291" target="_blank" rel="noopener noreferrer">
      <img src="/assets/icons8-linkedin-30.png" alt="LinkedIn Logo" />
    </a>
    <a href="https://x.com/Pranjal_Mitra04" target="_blank" rel="noopener noreferrer">
      <img src="/assets/icons8-twitter-30.png" alt="Twitter Logo" />
    </a>
    <!-- Add more social links as needed -->
  </div>
</footer>
