---
// src/components/Header.astro
---
<header class="header">
  <h1 class="logo">My Portfolio</h1>
  <nav>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
