---
// src/components/Profile.astro
---
<section id="about" class="profile">
  <img src="/assets/Picture.jpg" alt="Profile Picture" class="profile-pic" />
  <div class="profile-info">
    <h1 class="start">Hi !</h1>
    <p class="para"> I'm Pranjal Mitra , I am a Backend developer and a Cybersecurity enthusiast.I want to learn a new skill everyday and collaborate with tech entusiasts and build a community.</p>
  </div>
</section>
