---
// src/components/Projects.astro
---
<section id="projects" class="projects">
  <h2>My Projects</h2>
  <div class="project-list">
    <div class="project">
      <h3>A Backend developed for a video streaming </h3>
      <p>This a  project completely developed using Javascript and  is customized to perform multiple over a single platform. For further informaton or reviewing the code please <a href="https://github.com/Pranjal1804/Streaming_App_Backend">click here.</a></p>
    </div>
    <div class="project">
      <h3>Swatantra</h3>
      <p>Swatantra is a website designed to segregate resume based on domains and giving them a relevancy score based on the essential and desirable requirements.To know more about the project visit <a a href="https://github.com/HackathonBuild/SIH_2024">here.</a></p>
    </div>
    <!-- Add more projects as needed -->
  </div>
</section>
